.main-bg
{
    background: #18181a;
}

.borders
{
    border-radius:6px;border:2px solid #313131
}

.border-bg
{
    background:#1e1f24
}

.cell-bg
{
    background:#202125
}

.cell-dist
{
    width:34px; margin-left: 7px;
}

.char-width
{
    width:49px !important;
}
.ln-height
{
    height:47px !important;
}

.num-ln-height
{
    height:48px !important;
}