Package: com.mustafabakrol.ltgrad
Name: Laetus Theme - Light Gradient
Version: 3.0
Architecture: iphoneos-arm
Description: A Laetus Theme with light gradients
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.ltgrad
