Package: com.mustafabakrol.drkgrad3
Name: Laetus Theme - Dark Gradient 3
Version: 3.0
Architecture: iphoneos-arm
Description: One More Laetus Theme with dark gradients
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.drkgrad3
