Package: com.mustafabakrol.claw
Name: Laetus Theme - Claw
Version: 2.0
Architecture: iphoneos-arm
Description: A Laetus Theme
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.claw
