Package: com.mustafabakrol.roundedrect
Name: RoundedRect
Version: 1.2
Architecture: iphoneos-arm
Description: A Laetus Theme with rounded rectangles
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
