Package: com.mustafabakrol.roundedrect
Name: RoundedRect
Version: 1.0.1
Architecture: iphoneos-arm
Description: Laetus Theme.
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
