Package: com.mustafabakrol.boxedborder
Name: Boxed Border Laetus Theme
Version: 3.0
Architecture: iphoneos-arm
Description: A Laetus Theme with boxes and borders
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.boxedborder
