.main-bg
{
    background-color: #2b4162;
background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

.kb-row
{
    margin-top:2%;margin-left:1%;margin-right:1%;
}

.row-height
{
    height: 15.5%;
}

.borders
{
    border-radius:6px;border:0px solid #313131;
}

.border-bg
{
   background-color: #2b4162;
background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

.cell-bg
{background-color: #2b4162;
background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

.cell-dist
{
    width:8.9%; margin-left: 1.2%;
}

.char-width
{
    width:12.7% !important;
}
.ln-height
{
    height:15.5% !important;
}

.num-ln-height
{
    height:15.5% !important;
}