Package: com.mustafabakrol.disconnected
Name: Disconnected Lines Laetus Theme
Version: 3.0
Architecture: iphoneos-arm
Description: A Laetus Theme with Disconnected Lines
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.disconnected
