Package: com.mustafabakrol.ltgrad2
Name: Laetus Theme - Light Gradient 2
Version: 2.0
Architecture: iphoneos-arm
Description: Another Laetus Theme with light gradients
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.ltgrad2
