Package: com.mustafabakrol.shadows2
Name: Laetus Theme Shadows 2
Version: 2.0
Architecture: iphoneos-arm
Description: A Laetus Theme with different Shadows
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.shadows2
