Package: com.mustafabakrol.shadows
Name: Laetus Theme Shadows
Version: 1.0
Architecture: iphoneos-arm
Description: A Laetus Theme with Shadows
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
