.main-bg
{
    background: #18181a;
}

.kb-row
{
    margin-top:2%;margin-left:1%;margin-right:1%;
}

.row-height
{
    height: 15.5%;
}

.borders{
    position: relative;;
}

.borders:before{
    content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 25%;
        height: 50%;
    border-right:1px solid #515151;
    border-left:1px solid #515151;
}


.borders:after{
    content: "";
        position: absolute;
        left: 25%;
        height: 100%;
        width: 50%;
    border-top:1px solid #515151;
    border-bottom:1px solid #515151;
}

.border-bg
{
    background:#1e1f24
}

.cell-bg
{
    background:#202125
}

.cell-dist
{
    width:8.9%; margin-left: 1.2%;
}

.char-width
{
    width:12.7% !important;
}
.ln-height
{
    height:15.5% !important;
}

.num-ln-height
{
    height:15.5% !important;
}