Package: com.mustafabakrol.boxed
Name: Boxed Laetus Theme
Version: 3.0
Architecture: iphoneos-arm
Description: A Laetus Theme with Boxes
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.boxed
