Package: com.mustafabakrol.classictwist
Name: Classic Twist Laetus Theme
Version: 2.0
Architecture: iphoneos-arm
Description: A Laetus Theme with a twist on the classic keyboard look
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
