Package: com.mustafabakrol.ltgrad3
Name: Laetus Theme - Light Gradient 3
Version: 3.0
Architecture: iphoneos-arm
Description: One more Laetus Theme with a light gradients
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.ltgrad3
