Package: com.mustafabakrol.modern
Name: Modern Laetus Theme
Version: 1.0
Architecture: iphoneos-arm
Description: A Laetus Theme with a modern look
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
