.kb-row
{
    margin-top:1.6%;margin-left:1%;margin-right:1%;
}

.row-height
{
    height: 16%;
}

.borders
{
    border-radius:13px;border:2px solid #313131;
}

.border-bg
{
    background:#1e1f24;
}

.main-bg
{
    background:#18181a
}