Package: com.mustafabakrol.glow
Name: Laetus Theme Glow
Version: 2.0
Architecture: iphoneos-arm
Description: A Laetus Theme with Glowing blur
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.glow
