Package: com.mustafabakrol.classictwistborderless
Name: Classic Twist Laetus Theme - Without Borders
Version: 3.0
Architecture: iphoneos-arm
Description: A Laetus Theme with a twist on the classic keyboard look - Without Borders
Homepage: NA
Maintainer: Mustafa
Author: Mustafa
Sponsor: NA
Section: Themes
Depiction: https://mustafa-bakrolwala.github.io/cydia/depictions/?p=com.mustafabakrol.classictwistborderless
